.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  float: left;
  margin: 10px 0 0 0;
}

.high {
  margin: 20px 0 0 0;
  float: right;
}

.divide {
  margin: 20px 20px 0 20px;
}
.logo {
  margin-top: 10px;
}

.foot {
  margin: 0;
  padding: 0;
  font-size: small;
}

.title {
  border-bottom: 2px solid #081726;
  margin-bottom: 20px;
}

a:link.high {
  color: #081726;
  text-decoration: none;
}

a:visited.high {
  color: #476589;
  text-decoration: none;
}

a:hover.high {
  background-color: #dde7f5;
  text-decoration: none;
}

a:active.high {
  color: black;
  text-decoration: none;
}

.main {
  float: left;
}

.connect {
  float: right;
}

.headline {
  border-bottom: 2px solid #081726;
}

#stack {
  width: 95px;
  height: 95px;
  position: relative;
  bottom: 14px;
  right: 5px;
  
}

#git {
  margin-left: 10px;
}

.headshot {
  width: 405px;
  height: 270px;
  float: left;
  margin: 5px 10px 10px 5px;
}

header {
  border-bottom: 2px solid #081726;
  margin-bottom: 20px;
}

.copy {
  margin: 5px 5px;
}

footer {
  clear: both;
  background-color: #a39990;
  text-align: center;
  border-top: 10px solid #081726;
  padding: 10px 0;
}

body {
  background-color: #476589;
}

.content {
  background-color: #dde7f5;
  padding: 10px 15px 0 10px;
}

.content-main {
  padding-bottom: 20px;
}

.top {
  padding: 10px 0 20px 0;
  background-color: #dde7f5;
  margin-bottom: 30px;
  border-bottom: 5px solid #081726;
}